.div1{
    height: 659.5px;
}
.div2
{
    height: 720px;
}
.div3
{
    height: 720px;
}
.img1{
    border-collapse: collapse;
    height: 659.5px;
    width: 100%;
}
.img2{
    border-collapse: collapse;
    height: 720px;
    width: 100%;
}
.img3{
    border-collapse: collapse;
    height: 720px;
    width: 100%;
}