.container{
    margin-top: 10%;
    margin-left: 27%;
    width: 60%;
    height: 90%;
    border: 1px solid;
}

input{
    width: 300px;
}

button{
    margin-top: 10px;
}

.form-group{
    padding-bottom: 20px;
}




img {
    max-width:120px;
    display: inline-flex;
    float: right;

}

input[type=file] {
    padding: 10px;
    
}