<div class="aboutus">
    <div class="card text-bg-dark">
      <img src="assets/img4.jpg" class="card-img" alt="..." style="height: 720px; width: 100%;">
    
      <div class="card-img-overlay aboutparagraph">
        <h1 class="card-title">About the Business Bank</h1>
        <p class="card-text" align="center">We’re an economic development bank wholly owned by the Department for Business and Trade, but we are operationally independent. We’re dedicated to helping UK small businesses survive, prosper and grow.

          Since we were founded in 2014, we’ve grown ourselves – quickly. Yet in all that time, we’ve continued to adopt the creative mindset that we’ve had from the beginning.
          
          The business finance market doesn’t always create the conditions that make it easy for businesses to thrive. In this complex landscape, we light the way, inspiring, informing and enabling businesses to follow a path that’s right for them.
          
          We’ve been central to the delivery of coronavirus support schemes, and continue to help smaller businesses recover and grow through the Recovery Loan Scheme, the Bounce Back Loan Scheme Pay As You Grow options and Start Up Loans.
          
          By providing better access to finance, supplying useful information and tools, and developing strong regional networks, we help shape the future for many smaller businesses across the UK. You’ll feel this sense of purpose as soon as you meet us. You’ll be able to make your own impact as soon as you join.</p>
      </div>
    </div>
  </div>
<div class="topmarg">
  <div class="card card1" style="width: 18rem;">
    <img src="assets/card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Who we are</h5>
      <p class="card-text">Find out more about the history of the Bank, how the Bank is structured, and learn more about our leadership.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card card2" style="width: 18rem;">
    <img src="assets/card2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our values & culture</h5>
      <p class="card-text">We strive to create an environment where every colleague feels valued, empowered for their unique backgrounds and perspectives.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card card3" style="width: 18rem;">
    <img src="assets/card3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Careers</h5>
      <p class="card-text">We're on the lookout for the best and the brightest to help us make a positive impact on UK businesses now and in the future. Explore the various opportunities available.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>