<p>enquiry works!</p>
<div class="container">
    <form>
      <label for="name">First Name</label>
      <input type="text" id="firstName" name="firstName" placeholder=" First Name..">
  
      <label for="name">Last Name</label>
      <input type="text" id="lastName" name="lastName" placeholder=" Last Name..">

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Email..">

      <label for="age">Age</label>
      <input type="text" id="age" name="age" placeholder="Age..">

      <label for="mobileNumber">Mobile Number</label>
      <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number..">
      
      <label for="pancardNumber">Pan Card Number</label>
      <input type="text" id="pancardNumber" name="pancardNumber" placeholder="pan card number..">

  
      <input type="submit" value="Submit">
    </form>
  </div>
  