<div>
    <footer class="footer">
        <div class="container">
         <div class="row">
           <div class="footer-col">
             <h4>Want More</h4>
             <ul>
               <li><a href="#">About Loans</a></li>
               <li><a href="#">Our Services</a></li>
               <li><a href="#">Privacy Policy</a></li>
               <li><a href="#">Media</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Get Help</h4>
             <ul>
               <li><a href="#">FAQ</a></li>
               <li><a href="#">Contact Us</a></li>
               <li><a href="#">Accessibility</a></li>
               <li><a href="#">Resources</a></li>
               <li><a href="#">Help</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Work With Us</h4>
             <ul>
               <li><a href="#">Jobs</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>follow us</h4>
             <div class="social-links">
               <a href="#"><i class="fa-brands fa-facebook fa-beat-fade"></i></a>
               <a href="#"><i class="fa-brands fa-twitter"></i></a>
               <a href="#"><i class="fa-brands fa-instagram"></i></a>
               <a href="#"><i class="fa-brands fa-linkedin"></i></a>
             </div>
           </div>
         </div>
        </div>
     </footer>   
</div>